body {
    font-family: Arial, sans-serif;
    background-color: #0b1846;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #fcfcfc;
    margin-top: 50px;
    font-size: 60px;
}

h3 {
    color: #ffffff;
    font-size: 30px;
}

button {
    padding: 20px 40px;
    background-color: #d19335;
    border: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e68a00;
}